.jumbotron{
	padding-top: 5px;
	padding-bottom: 0px;
	margin-bottom: 25px;
}
#navName h1{
	float: left;
	height: 75px;
	width: 550px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
#navRight{
	text-align: center;
	float: right;
	height: 75px;
	width: 250px;
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 0px 0px;
}