/* Other .scss file imports */
@import './common/development/devProps';

/* 
TABLE OF CONTENTS
- Navbar
- Alerts
- Home
- Menu
- Order
*/

/* App */
body{
	background-color: #FFF4C9;
}
#app{
	padding-left: 200px;
	padding-right: 200px;
}

/* Alerts */
@import './partials/alerts';
/* NavBar */
@import './partials/navbar';
/* Menu */
@import './partials/menu';
/* Home */
@import './partials/home';
/* Order */
@import './partials/order';

/* Save as reference */
/*.example-enter {
  opacity: 0.0;
}
.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 5000ms ease-in;
}
.example-leave {
	opacity: 1;
	transform: translate(0,0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.example-leave.example-leave-active {
	opacity: 0;
	transform: translate(0,750px,0);
	transform: translate3d(0,750px,0);
}*/